<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
 "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
	   <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
	   <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
	   <!-- Assume students is the database name -->
	   <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dual_sentiment</property>
	   <property name="hibernate.connection.username">root</property>
	   <property name="hibernate.connection.password"></property>
	   <property name="hibernate.hbm2ddl.auto">update</property>
	   <mapping class="com.dao.model.User"/>
	   <mapping class="com.dao.model.Product"/>
	   <mapping class="com.dao.model.ProductCategory"/>
	   <mapping class="com.dao.model.CommentText"/>
	   <mapping class="com.dao.model.CommentFeature"/>
  </session-factory>
</hibernate-configuration>